<h3>Messages</h3>
<div class="jumbotron">
  <div id="messages" style="height: 250px; text-align: left;"></div>
</div>

<h3>Send a Message</h3>
<div class="form-group">
  <input type="text" class="form-control" id="chat-input">
</div>
